*{
    margin: 0;
    padding: 0;
}

.icon{
    width: fit-content;
    background: linear-gradient( to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50% ,url(Backgrounds/Background_02.jpg));
    background-size: cover;

}