*{
    margin: 0;
    padding: 0;
}

.icon{
    width: fit-content;
    background: linear-gradient( rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50% ,url(Background_02.jpg));
    background-size: cover;
    background-position: center;

}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}

.Logo{
    width:1000px;
    height: auto;
    
}