*{
    margin: 0;
    padding: 0;
}

.icon{
   
    background: linear-gradient(to top, rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0.952)) ,url(Background_02.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;
    min-height: 100px;
    

}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    display: inline-block;

}

.Logo{
    width:110px;
    height: auto;
    margin: 12px;
    border: 10px;

}

ul{
    
    list-style-type: none;
    float: right;
}

ul li{
     display: inline;
     border: 5px;

}
ul li a{
    text-decoration: none;

    color: aliceblue;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s;
}



.ul li a:hover{
    background-color: aliceblue;
    color: black;
}